# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/learning_platform?schema=public"

# Better Auth
BETTER_AUTH_SECRET="your-super-secret-key-change-in-production"
BETTER_AUTH_URL="http://localhost:3000"

# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# QianWen api
DASHSCOPE_API_KEY="copy-from-email-by-HousenZhu"

# AWS S3 File Storage (Cloud)
# Uncomment and fill in AWS credentials from email by Housen Zhu
# AWS_ACCESS_KEY_ID=copy-from-email-by-HousenZhu
# AWS_SECRET_ACCESS_KEY=copy-from-email-by-HousenZhu
AWS_S3_BUCKET=ece1724-react-project-demo
AWS_S3_REGION=us-east-2
